<!DOCTYPE html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="http://kawaii.desi/res/css/style.css" type="text/css" rel="stylesheet" />
<title>Equinox Flyff Siege logs</title>
</head>
<body>
<table>
<tr id="tablehead"><th class="name">Error</th></td>
</table>
<table id="content">
    <tr>
        <td class="name">
            Confidence level: {{ error }}
        </td>
    </tr>
</table>
<a href="./">Back to overview</a>
</body>
